<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>Where's Lizzie?</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="home">
            <h2 class="logo">Where's Lizzie?</h1>
            <br>
            <h3>To see where your note has been, please start below:</h3>


            <div id="contact-form-2" >
                <form method="post" action="/recordEntry">
                    <label for="text">Serialnumber</label>
                    <input type="text" id="serialnumber" name="serialnumber" required="required"/>

                    <label for="text">Where are you?</label>
                    <input type="text" id="location" name="location"/>

                    <label for="text">What's the date?</label>
                    <input type="text" id="date" name="date"/>

                    <label for="text">Message</label>
                    <input type="text" id="notes" name="notes"/>

                    <input type="submit" value="Submit" id="submit"/>
                </form>
            </div>
        </div>

    </body>
</html>
