<!doctype html>
<html>
    <head>
      <link rel="icon" href="favicon.ico">
        <title>Where's Lizzie?</title>
    <style>
    body {background-color: #DC5599;}
    h2 {
      color: #052D3C;
      font-family: verdana;
      font-size: 400%;
      text-align: center;
    }
    h3 {
      color: #052D3C;
      font-family: verdana;
      font-size: 150%;
      text-align: center;
    }
    h4 {
      color: #052D3C;
      font-family: verdana;
      font-size: 100%;
      text-align: right;
      font-style: italic;
    }
    #contact-form-2 {
      color: #052D3C;
      font-family: verdana;
      font-size: 100%;
      font-style: italic;
      text-align: center;
    }
    .row {
      display: flex;
    }
    .column {
      flex: 6.66%;
      padding: 0px;
    }
    </style>
    </head>

    <body>
        <div class="home">

          <div class="row">
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
            <div class="column">
              <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
          </div>

            <h2 class="logo">Where's Lizzie?</h2>
            <h3>To see where your note has been, please start below:</h3>

            <div id="contact-form-2" >
                <form method="post" action="/recordEntry">
                    <label for="text">Serial number</label>
                    <input type="text" id="serialnumber" name="serialnumber" required="required"/>

                    <label for="text">Where are you?</label>
                    <input type="text" id="location" name="location"/>

                    <label for="text">What's the date?</label>
                    <input type="text" id="date" name="date"/>

                    <label for="text">Message</label>
                    <input type="text" id="notes" name="notes"/>

                    <input type="submit" value="Submit" id="submit"/>
                </form>
            </div>

            <h4>Want to find out your currency's story? What cities it has visited, when and its previous owners message. By entering your notes serial number, you will help tell its life and journey. Additionally, you will get back a list of all the cities your note has been recorded, as well as travel time and messages along the way.</h4>

            <br>
            <br>

              <div class="row">
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
                <div class="column">
                  <img src="static/images/queensimage.jpeg" alt="Queen" height="80" width="80">                </div>
              </div>

              <h4>by Ashley & Harriet</h4>


        </div>

    </body>
</html>
